body {
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}


/* navbar styling */

.topnav {
    overflow: hidden;
    background-color: #333333;
}

.topnav a {
    float: left;
    color: #c7c7c7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #c7c7c7;
    color: #333333;
}

.topnav a.active {
    background-color: #164bdb;
    color: white;
}


/* utils styling */

.container {
    max-width: 90%;
    margin: 0 40px;
    padding: 20px;
}


/*theme styling */

a {
    color: #55c360;
}

a:hover {
    color: #37aa43;
}

button {
    color: #ffffff;
    background-color: #55c360;
    border: none;
    border-radius: 3px;
    padding: 12px !important;
}

button:hover {
    background-color: #37aa43;
    cursor: pointer;
}


/* footer styling */

footer {
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 100px 0;
}