body {
  margin: 0 !important;
  font-family: "Lucida Console", "Courier New", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* navbar styling */

.topnav {
  overflow: hidden;
  background-color: #333333;
}

.topnav a {
  float: left;
  color: #c7c7c7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #c7c7c7;
  color: #333333;
}

.topnav a.active {
  background-color: #164bdb;
  color: white;
}

/* home */

.chooseus {
  background-color: #c7c7c7;
}

.chooseus ul {
  list-style-type: circle;
}

/* footer styling */

footer {
  width: 100%;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 100px 0;
}

/* cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 40%;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 20px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

a .card {
  color: #000;
  text-decoration: none;
}

.card img {
  width: 100%;
}

/* signup */

/* resources */
.phase {
  padding: 20px;
}

.resource img {
  margin: auto;
  width: 40%;
}
